<launch>
	<!-- recognized object node using intel realsense d455 -->
	<!-- <node name="recognized_object" pkg="picking_vision" type="recognize_object_node.py" output="screen"/> -->

	<!-- <node name="aruco_pose_detect" pkg="picking_vision" type="aruco_posedetection_node.py" output="screen"/> -->

	<!-- Imageviewer -->
	<!-- <node name="aruco_image_view" pkg="rqt_image_view" type="rqt_image_view"  args="/aruco_detection_result_img"/> -->



	<node name="oriented_object" pkg="picking_vision" type="ort_obj_detection_node.py" output="screen"/>

	<!-- Imageviewer -->
	<!-- <node name="obj_image_view" pkg="rqt_image_view" type="rqt_image_view"  args="/ort_detection_result_img"/> -->
	<!-- robot control node -->
	<!-- <node name="robot_control" pkg="picking_vision" type="robot_control_node.py" output="screen"/> -->
</launch>